$font-family-Quicksand: 'Quicksand', sans-serif;
$font-family-roboto:'Roboto', sans-serif;
$font-family-montserrat: 'Montserrat', sans-serif;
$font-family-spectral: 'Spectral', serif;
$bg-header: #16697A;
$nav-color: #737373;
$orange-color: #FFA62B;
$dropdown-color: #252B42; 
$disbled-color: #BDBDBD;
$tab-color: #8EC2F2;
$shadow-color: 0px 2px 4px 0px #0000001A;
$news-color: #00A1C1;
$tag-color: #E74040;
$icon-bg-color: #2A7CC7;
$footer-bg-color: #252B42;
$bg-background: #F5F5F5;;
$menu-color: #323131;
$pink-color: rgba(159, 60, 60, 0.06);

$border-color: #ECECEC;
$red-color: #9F3C3C;
$opacity-black-color: rgba(0, 0, 0, 0.816);
$gray-color: #D7D7D7;
$star-color: #FFB321;
$green-color: #0A7E1D;
$bg-green-color: rgba(10, 126, 29, 0.1);
$yellow-color: #D2B92F;
$bg-yellow-color: rgba(240, 228, 162, 0.17);
$brown-color: #DD6F6F;
$bg-brown-color: rgba(243, 198, 198, 0.17);
$text-color: #7E7E7E;
$footer-color: #411616;
$footer-contentr-color: #BFBFBF;
$black-color: #323131;
$light-red: red;