.banner-box {
    position: relative;

    .banner-content {
        position: absolute;
        top: 0;
        left: 0;

        h6 {
            font-family: $font-family-montserrat;
        }

        h3 {
            color: $dropdown-color;
            margin-top: calc(12px + (19 - 12) * ((100vw - 320px) / (1920 - 320)));
        }

        p {
            color: $nav-color;
            font-family: $font-family-montserrat;
        }

    }

    .banner-info {
        position: absolute;
        top: 0;
        left: 0;

        h6 {
            font-family: $font-family-montserrat;
        }

        h3 {
            color: $white;
            margin-top: calc(12px + (19 - 12) * ((100vw - 320px) / (1920 - 320)));
            margin-bottom: 6px;
        }

        p {
            color: $white;
            font-family: $font-family-montserrat;
        }
    }
}

.bg-background {
    background-color: $bg-background;

    .banner {
        padding: calc(25px + (38 - 25) * ((100vw - 320px) / (1920 - 320))) 0;
        z-index: -1;

        a {
            display: block;
            text-align: center;
        }
    }
}