.background-footer{
    background-color: $footer-bg-color;
    padding: calc(20px + (50 - 20) * ((100vw - 320px) / (1920 - 320)))  0;
    color: $white;
    ul{
        li{
            margin: 5px 0;
            a{
                transition: all 0.4s ease-in-out;
                &:hover{
                    color: $orange-color;
                    letter-spacing: 2px;
                }
            }
        }
    }
}
.bg-footer{
    background-color: $footer-color;
    color: $white;
    padding: calc(20px + (105 - 20) * ((100vw - 320px) / (1920 - 320))) 0 calc(14px + (43 - 14) * ((100vw - 320px) / (1920 - 320))) 0;
    .part-one{
        p{
            color: $footer-contentr-color;
            font-weight: 400;
            font-size: calc(14px + (18 - 14) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1.5;
            margin: calc(10px + (27 - 10) * ((100vw - 320px) / (1920 - 320))) 0 17px;
        }
        ul{
            gap: 6px;
            li{
                a{
                    border-radius: 50%;
                    background: $border-color;
                    align-items: center;
                    justify-content: center;
                    display: flex;
                    width: calc(35px + (44 - 35) * ((100vw - 320px) / (1920 - 320)));
                    height: calc(35px + (44 - 35) * ((100vw - 320px) / (1920 - 320)));
                    svg{
                        color: $text-color;
                        font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
                    }
                }
            }
        }
    }
    .part-two,
    .part-three,
    .part-four,
    .part-five{
        h3{
            font-weight: 500;
            margin-bottom: calc(12px + (31 - 12) * ((100vw - 320px) / (1920 - 320)));
            font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1920 - 320)));
        }
        ul{
            li{ 
                +li{
                    margin-top: calc(5px + (18 - 5) * ((100vw - 320px) / (1920 - 320)));
                }
                a{
                    color: $footer-contentr-color;
                    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
                    font-weight: 400;
                }
            }
        }
    }
    .part-five{
        color: $footer-contentr-color;
        ul{
            li{
                +li{
                    margin-top: calc(10px + (24 - 10) * ((100vw - 320px) / (1920 - 320)));
                }
                svg{
                    font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
                    margin-top: 5px;
                }
            }
        }
        p{
            font-size: calc(15px + (18 - 15) * ((100vw - 320px) / (1920 - 320)));
            line-height: 1.5;
            font-weight: 400;
        }
    }
}
.main-copyright{
    background-color: $footer-color;
    .copyright-line{
        border-top: 1px solid $white;
        padding: calc(14px + (27 - 14) * ((100vw - 320px) / (1920 - 320))) 0 calc(25px + (49 - 25) * ((100vw - 320px) / (1920 - 320))) 0;
        .copyright-two{
            p{
                color: $footer-contentr-color;
                font-size: calc(13px + (18 - 13) * ((100vw - 320px) / (1920 - 320)));
                font-weight: 400;
                line-height: 1.5;
                @media (max-width:992px) {
                    margin-bottom: 20px;
                }
            }
        }
        ul{
            gap: 7px;
        }
    }
}