.breadcrumbs{
    background: $pink-color;
    padding: 10px 0;
    
    ul{
        li{
            a{
                color: $black-color;
            }
        }
    }
}
.side-nav{
    &.open{
        transform: none;
        transition: all 0.4s ease-in-out;
        overflow-x: hidden;
        overflow-y: auto;
    }
    .back-nav{
        svg{
            font-size: 15px;
        }
    }
    @media (max-width:992px) {
        position: fixed;
        top: 0;
        left: 0;
        background: $white;
        height: 100vh;
        width: 320px;
        box-shadow: 0px 2px 8px $shadow-color;
        padding: 30px;
        z-index: 2;
        transform: translateX(-320px);
    }
    .accordion-item{
        border: none;
        @media (max-width:992px) {
            border-bottom: 2px solid $border-color;
        }
        .accordion-button {
            background: $pink-color;
            font-weight: 500;
            border: none;
            box-shadow: none;
            @media (max-width:992px) {
                background-color: transparent;
            }
            &:not(.collapsed) {
                color: $black-color;
                background: $pink-color;
                box-shadow: none;
                @media (max-width:992px) {
                    background-color: transparent;
                }
                &::after{
                    background-image: var(--bs-accordion-btn-icon);
                }
            }
        }
        .accordion-body{
            background: $pink-color;
            padding: 15px 22px;
            @media (max-width:992px) {
                background-color: transparent;
            }
            .amount-range{
                .range{
                    display: flex;
                    justify-content: space-between;
                }
                input{
                    width: 100%;
                }
            }
            .label-form{
                gap: 10px;
                display: flex;
                align-items: center;
                margin: 10px 0;
                .form-check-input{
                    margin-top: 0;
                    &:focus{
                        box-shadow: none;
                        border: none;
                    }
                    &:checked{
                        background: $red-color;
                        border: none;
                        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
                    }
                }
                label{
                    font-weight: 400;
                    font-size: 14px;
                }
            }
           
        }
    }
}
.color{
    .form-check-input{
        width: 30px;
        height: 30px;
        border: 1px solid $border-color;
        border-radius: 50%;
        margin-right: 5px;
        cursor: pointer;
        &:focus{
            box-shadow: none;
            border: none;
        }
    }
}
#red{
    background-color: $red-color;
}
#blue{
    background-color: $icon-bg-color;
}
#purple{
    background-color: $yellow-color;
}
#orange{
    background-color: $orange-color;
}
#skyblue{
    background-color: $tab-color;
}
#green{
    background-color: $green-color ;
}
.overlay{
    position: fixed;
    top: 0;
    left: 0;
    background-color: $opacity-black-color;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease-in-out;
}
.show{
    opacity: 1;
    visibility: visible;
}
.content{
    margin: 30px 0;
    h4{
        margin-bottom: 10px;
    }
    p{
        margin-bottom: 20px;
    }
    
}
.btn-filter{
    color: $white;
    padding: 8px 23px;
    display: none;
    @media (max-width:992px) {
        display: inline-block;
    }
}
.info-menu{
    display: flex;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 30px;
    align-items: center;
    li{
        padding: 10px 20px;
        + li{
            border-left: 1px solid $border-color;
        }
        a{
            color: $menu-color;
        }
    }
    .grid-changes{
        display: flex;
        justify-content: center;
        gap: 5px;
        li{
            +li{
                border-left: none;
            }
        }
    }
}
.pagination{
    margin: 30px 0;
    border: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
    @media (max-width:768px) {
        margin-bottom: 0;
        justify-content: center;
    }
    .page-item{
        &:first-child .page-link{
            border-radius: 0;
        }
        &:last-child .page-link{
            border-radius: 0;
        }
        .page-link{
            color: $red-color;
            padding: 10px 20px;
            border-radius: 0;
            border-left: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
            border-right: var(--bs-pagination-border-width) solid var(--bs-pagination-border-color);
            border-top: 0;
            border-bottom: 0;
        }
    }
}
.page-content{
    border-left: 0;
    border: 1px solid $border-color;
    padding: 12px 20px;
    text-align: end;
    @media (max-width:768px) {
        text-align: center;
        margin: 20px 0;
    }
}


